<h1 mat-dialog-title>Cliente</h1>
<div mat-dialog-content>
<form  [formGroup]="clientForm">
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input matInput formControlName="nombre" class="form-control" id="nombre" placeholder="Nombre">
  </div>
  <div class="form-group">
    <label for="apellido">Apellido</label>
    <input matInput formControlName="apellido" class="form-control" id="apellido" placeholder="Apellido">
  </div>
  <div class="form-group">
    <label for="direccion">Dirección</label>
    <input matInput formControlName="direccion" class="form-control" id="direccion" placeholder="Dirección">
  </div>
  <div class="form-group">
    <label for="telefono">Teléfono</label>
    <input matInput formControlName="telefono" class="form-control" id="telefono" placeholder="Teléfono">
  </div>
  <div class="form-group">
    <label for="correo">Correo</label>
    <input matInput formControlName="correo" class="form-control" id="correo" placeholder="Correo">
  </div>
</form>
</div>

<div mat-dialog-actions>
  <button mat-button mat-raised-button [mat-dialog-close]="true"   >Cerrar</button>
  <button mat-button mat-raised-button (click)="updateClient()" color="primary" *ngIf="!isNew" [disabled]="!clientForm.valid" cdkFocusInitial >Actualizar</button>
  <button mat-button mat-raised-button (click)="createClient()" color="primary" *ngIf="isNew" [disabled]="!clientForm.valid" cdkFocusInitial >Crear</button>
</div>
