<h1 mat-dialog-title>Producto</h1>
<div mat-dialog-content>
<form  [formGroup]="productForm">
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input matInput formControlName="nombre" class="form-control" id="nombre" placeholder="Nombre">
  </div>
  <div class="form-group">
    <label for="apellido">Valor</label>
    <input matInput formControlName="valor" class="form-control" id="valor" placeholder="Valor">
  </div>
  <div class="form-group">
    <label for="stock">Stock</label>
    <input matInput formControlName="stock" class="form-control" id="stock" placeholder="Stock">
  </div>
  <div class="form-group">
    <label for="iva">Iva</label>
    <input matInput formControlName="iva" class="form-control" id="iva" placeholder="Iva">
  </div>
  <div class="form-group">
    <label for="iva">Tienda</label>
    <select *ngFor="let market of markets" class="form-control" matInput formControlName="tiendaId" name="tenda" id="tienda">
        <option value="{{market.id}}">{{market.nombre}}</option>
    </select>
  </div>

</form>
</div>

<div mat-dialog-actions>
  <button mat-button mat-raised-button [mat-dialog-close]="true"   >Cerrar</button>
  <button mat-button mat-raised-button (click)="updateProduct()" color="primary" *ngIf="!isNew" [disabled]="!productForm.valid" cdkFocusInitial >Actualizar</button>
  <button mat-button mat-raised-button (click)="createProduct()" color="primary" *ngIf="isNew" [disabled]="!productForm.valid" cdkFocusInitial >Crear</button>
</div>
